body {
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 10%;
    color: rgb(0, 255, 255);
    height: 100vh;
    margin: 0 15% 0 15%;
   

}
#epicodeLogo { /* queste regole sono per il logo, ho messo un id di prova, margini da aggiustare una volta che abbiamo le pagine complete */
    width: 150px;  
    margin-top: 4em;
  }
  

#votoDato{
    color: #9a1884;
}
.invisibile{
    display: none;
}